/* CSS TP10*/
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Shrikhand&display=swap');


#temps {
    background: pink;
    width: 100%;
    height: 50vw;
    position: relative;
    font-family: 'Shrikhand', cursive;
    font-size: 100px ;
}